$animation-duration: 2s;

.hidden {
    opacity: 0;
    transform: translateY(100px);
    transition: all $animation-duration;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.hidden-introduction {
    opacity: 0;
    transition: all $animation-duration;

    .col-6 {
        transition: all $animation-duration;

        &:first-of-type {
            transform: translateX(-100px);
        }
        &:last-of-type {
            transform: translateX(100px);
        }
    }
}

.show-introduction {
    opacity: 1;

    .col-6 {
        &:first-of-type {
            transform: translateX(0);
        }
        &:last-of-type {
            transform: translateX(0);
        }
    }
}