.testimonial-wrapper {
  margin: 0 0.75rem;
  margin-top: 32px;
  background-color: white;
  box-shadow: 3px 5px 55px 2px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  position: relative;
}
.testimonial-wrapper img {
  width: 64px;
  height: 64px;
  position: absolute;
  top: -32px;
}
.testimonial-wrapper .testimonial {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #F2F2F2;
}
.testimonial-wrapper .testimonial-footer .author {
  font-size: 1.125rem;
  font-weight: 500;
  color: #17171F;
}
.testimonial-wrapper .testimonial-footer .company,
.testimonial-wrapper .testimonial-footer .rating {
  color: #414142;
}
.testimonial-wrapper .testimonial-footer .rating .checked {
  color: #BE3144;
}

.stat h3,
.stat p {
  text-align: center;
}
.stat h3 {
  line-height: 133%;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #17171F;
}
.stat p {
  white-space: nowrap;
  color: #3B4159;
}

.service {
  border-radius: 4px;
  box-shadow: 3px 5px 55px 2px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  margin: 0.75rem;
}
.service .icon-wrapper {
  margin-bottom: 1.5rem;
  height: 72px;
  width: 72px;
  background-color: rgba(47, 198, 255, 0.05);
}
.service .icon-wrapper img {
  height: 36px;
  width: 36px;
}
.service h4 {
  margin-bottom: 1rem;
  color: #17171F;
  font-weight: 600;
}
.service p {
  color: #414142;
  font-size: 1rem;
}

section {
  margin: 120px 0;
}
section h2 {
  text-align: center;
  color: #1A2033;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

#introduction {
  margin-top: 82px;
}
#introduction .intro {
  font-size: 1.125rem;
  color: #BE3144;
}
#introduction .intro::before {
  content: "";
  height: 267px;
  width: 267px;
  background-color: rgba(235, 85, 105, 0.13);
  position: absolute;
  top: -100px;
  left: -233px;
  border-radius: 50%;
  filter: blur(250px);
}
#introduction h1 {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 143%;
  color: #1A2033;
  margin-bottom: 1.5rem;
}
#introduction .agency-description {
  line-height: 178%;
  font-size: 1.125rem;
  color: #3B4159;
  margin-bottom: 2.5rem;
}
#introduction .btn-area {
  margin-bottom: 4rem;
}
#introduction .btn-area .btn-primary {
  margin-right: 1.25rem;
}
#introduction .stat + .stat {
  margin-left: 4.5rem;
}
#introduction .illustration {
  padding: 2rem;
  padding-right: 0;
}
#introduction .illustration::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 267px;
  width: 267px;
  background-color: rgba(253, 126, 65, 0.28);
  border-radius: 50%;
  bottom: -88px;
  right: 114px;
  filter: blur(250px);
}

#testimonials .title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #BE3144;
}

#contact {
  padding-top: 80px;
}
#contact .contact-wrapper {
  padding: 4rem 6.25rem;
  background-color: #BE3144;
  color: white;
  border-radius: 8px;
}
#contact .contact-wrapper h3 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
#contact .contact-wrapper p {
  font-size: 1.125rem;
}
#contact .contact-wrapper .btn {
  background-color: white;
  color: #17171F;
  font-size: 1.125rem;
  font-weight: 500;
}

nav {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
}
nav .logo {
  height: 70px;
}
nav .navigation-items ul {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
nav .navigation-items ul li + li {
  margin-left: 2rem;
}
nav .navigation-items ul li {
  list-style: none;
}
nav .navigation-items ul li a {
  color: #17171F;
  font-size: 1.125rem;
  line-height: 178%;
  font-weight: 400;
  text-decoration: none;
}
nav .navigation-items ul li a:hover {
  font-weight: 600;
}
nav .navigation-items ul li a.active {
  font-weight: 600;
}
nav .language-switch {
  margin-right: 2.5rem;
}
nav .language-switch select {
  background-color: transparent;
  border: none;
}

#bootstrap-overrides .btn {
  padding: calc(1rem - 2px) 1.5rem;
}
#bootstrap-overrides .btn-primary {
  background-color: #BE3144;
  border-color: #BE3144;
  color: white;
}
#bootstrap-overrides .btn-primary:hover {
  background-color: white;
  color: #BE3144;
}
#bootstrap-overrides .btn-primary:focus {
  box-shadow: none;
}
#bootstrap-overrides .btn-primary:active {
  background-color: #BE3144;
  color: white;
}
#bootstrap-overrides .btn-outline-dark {
  color: #3B4159;
  border-color: #3B4159;
}
#bootstrap-overrides .btn-outline-dark:hover {
  background-color: #3B4159;
  color: white;
}
#bootstrap-overrides .card {
  max-width: 364px;
  padding: 1.5rem;
  border: none;
}
#bootstrap-overrides .row {
  flex-wrap: nowrap;
}

body {
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=index.css.map */