@import "./abstract/variables";
@import "./abstract/animation";
@import "./abstract/grid";
@import "./components/testimonial";
@import "./components/stat";
@import "./components/service";
@import "./components/project";
@import "./layout/section";
@import "./layout/navigation";
@import "./layout/footer";
@import "./layout/index";
@import "./page/dataprotection";

body {
  font-family: "Poppins", sans-serif;
  background-color: white;

  main {
    margin-top: 8rem;
  }
}
