$project-space: $base-space * 0.75;

.project-wrapper {
  margin: auto;
  width: fit-content;

  img {
    margin-bottom: $space-m;
    max-width: 100%;
  }
  .project-name {
    font-size: $font-size-l;
    font-weight: $font-weight-bolder;
    margin-bottom: $space-s;
    color: $font-color-blue-dark;

    @media (max-width: 568px) {
      font-size: $font-size-sm-md;
    }
  }
  .project-description {
    color: $font-color-grey;
  }
}
