$logo-height: 55px;
$logo-height-mobile: 42px;
$nav-space: $base-space * 2.5;
$language-switch-space: $base-space * 5;

nav {
  height: fit-content;
  padding-top: $space-s;
  padding-bottom: $space-s;
  background-color: white;

  @media (max-width: 578px) {
    padding-top: $space-s;
    padding-bottom: $space-s;
  }

  .logo {
    height: $logo-height;

    @media (max-width: 992px) {
      height: $logo-height-mobile;
    }
  }

  .navigation-items {
    ul {
      padding-top: $nav-space;
      padding-bottom: $nav-space;

      li + li {
        margin-left: $space-l;
      }

      li {
        list-style: none;

        a.navigation-item {
          color: $font-color-blue-dark !important;
          font-size: $font-size-m;
          line-height: 178%;
          font-weight: $font-weight-regular;
          text-decoration: none;

          &:hover {
            font-weight: $font-weight-bolder;
          }

          &.active {
            font-weight: $font-weight-bolder;
          }
        }
      }
    }
  }

  .language-switch {
    form {
      margin-bottom: 0;

      select {
        background-color: transparent;
        border: none;
        color: black;
      }
    }
  }

  .collapse {
    &.in {
      display: block;
    }
  }

  .navbar-nav {
    gap: 1.125rem;

    a {
      color: $font-color-blue-dark;
      font-size: $font-size-m;
    }
  }
}
