$logo-height: 70px;
$nav-space: $base-space * 2.5;
$language-switch-space: $base-space * 5;

nav {
    height: fit-content;
    padding-top: $space-l;
    padding-bottom: $space-l;
    background-color: white;

    .logo {
        height: $logo-height;
    }

    .navigation-items {
        ul {
            padding-top: $nav-space;
            padding-bottom: $nav-space;

            li + li {
                margin-left: $space-l;
            }

            li {
                list-style: none;
                
                a {
                    color: #17171F;
                    font-size: $font-size-m;
                    line-height: 178%;
                    font-weight: $font-weight-regular;
                    text-decoration: none;

                    &:hover {
                        font-weight: $font-weight-bolder;
                    }

                    &.active {
                        font-weight: $font-weight-bolder;
                    }
                }
            }
        }
    }

    .language-switch {
        margin-right: $language-switch-space;

        select {
            background-color: transparent;
            border: none;
        }
    }
}