section {
    margin: 120px 0;

    h2 {
        text-align: center;
        color: #1A2033;
        font-size: 3rem;
        font-weight: $font-weight-bolder;
        margin-bottom: $space-xxl;
    }
}

#testimonials {
    > p {
        text-align: center;
        margin-bottom: $space-s;
        color: $primary-color;
    }
}